In [2]:
import pandas as pd
import numpy as  np

In [10]:
df=pd.DataFrame([[2,4,5],[6,2,9],[1,7,4],[5,2,8]])
print(df)

   0  1  2
0  2  4  5
1  6  2  9
2  1  7  4
3  5  2  8

In [11]:
df.head(2)

   0  1  2
0  2  4  5
1  6  2  9

In [12]:
df.tail(3)

   0  1  2
1  6  2  9
2  1  7  4
3  5  2  8

In [15]:
#slicing
df.iloc[0:2,1:3]

   1  2
0  4  5
1  2  9

In [20]:
df1=pd.DataFrame([[2,4,5],[6,2,9],[1,7,4],[5,2,8]],columns=['A','B','C'])
print(df1)

   A  B  C
0  2  4  5
1  6  2  9
2  1  7  4
3  5  2  8