In this tutorial we leran how we can automate the process of  handling missing values ,feature scaling ,text to numeric data conversion(data encoding) and training and testing model

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

if our target(y) is in text form then we should change in numeric form before any automation process

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
encoder=LabelEncoder()

In [5]:
df['time']=encoder.fit_transform(df['time'])

In [6]:
df.time.unique()

array([0, 1])

In [7]:
## independent and dependent categories
X=df.drop(['time'],axis=1)
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [8]:
y=df.time
y.head()

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.33, random_state=42)

now we will start automation process

In [11]:
from sklearn.pipeline import Pipeline ##it stepwise perform automate process 
from sklearn.impute import SimpleImputer  ## handle missing values automatically
from sklearn.preprocessing import StandardScaler ## for scaling of data
from sklearn.preprocessing import OneHotEncoder ## convert text to numeric data(encoding)
from sklearn.compose import ColumnTransformer## combining various pipeline

if our dataset contain numeric and text data then divide it in two parts 
text
and numeric
we will create different pipeline for both categories

In [12]:
num_cols=['total_bill','tip','size']
cat_cols=['sex','smoker','day']

In [13]:
num_pip=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='median')), ##handeled missing values by use of median
        ('scaler',StandardScaler()) ## scaling
    ]
)
cat_pip=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='most_frequent')), ##handeled missing values by use of mode
        ('encode',OneHotEncoder()) ## convert text to numeric data
    ]
    
)

In [14]:
## to combine both pipelines 
processor=ColumnTransformer(
    [
        ('num_pipe',num_pip,num_cols), ## applyies on numeric data
        ('cat_pipe',cat_pip,cat_cols)  ##applies to text data
    ]
)

In [15]:
X_train=processor.fit_transform(X_train) ## these function applied all above feature eng. process automatically
X_test=processor.transform(X_test)

In [16]:
## now we will do model training  automatically firstly we should chose what models we want to apply
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [17]:
models={
    'random_forest': RandomForestClassifier(),
    'logistic': LogisticRegression(),
    'decision_tree':DecisionTreeClassifier()
    }

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
def evaluate_model(X_train, X_test, y_train, y_test,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        model.fit(X_train,y_train)
        y_pred=model.predict(X_test)
        model_score=accuracy_score(y_test,y_pred)
        report[list(models.keys())[i]]=model_score
        return report

In [20]:
evaluate_model(X_train, X_test, y_train, y_test,models)

{'random_forest': 0.9753086419753086}

random forest regressor

In [21]:
X=df.drop(['total_bill'],axis=1)
X.head()

    tip     sex smoker  day  time  size
0  1.01  Female     No  Sun     0     2
1  1.66    Male     No  Sun     0     3
2  3.50    Male     No  Sun     0     3
3  3.31    Male     No  Sun     0     2
4  3.61  Female     No  Sun     0     4

In [22]:
y=df.total_bill
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [23]:
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.33, random_state=42)

In [24]:
from sklearn.pipeline import Pipeline ##it stepwise perform automate process 
from sklearn.impute import SimpleImputer  ## handle missing values automatically
from sklearn.preprocessing import StandardScaler ## for scaling of data
from sklearn.preprocessing import OneHotEncoder ## convert text to numeric data(encoding)
from sklearn.compose import ColumnTransformer## combining various pipeline

In [25]:
num_cols=['time','tip','size']
cat_cols=['sex','smoker','day']

In [26]:
num_pipe=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='median')), ##handeled missing values by use of median
        ('scaler',StandardScaler()) ## scaling
    ]
)
cat_pipe=Pipeline(
    steps=[
        ('impute',SimpleImputer(strategy='most_frequent')), ##handeled missing values by use of median
        ('encode',OneHotEncoder()) ## convert text to numeric data
    ]
    
)

In [27]:
## to combine both pipelines 
procesor=ColumnTransformer(
    [
        ('num_pipe',num_pipe,num_cols), ## applyies on numeric data
        ('cat_pipe',cat_pipe,cat_cols)  ##applies to text data
    ]
)

In [28]:
X_train=procesor.fit_transform(X_train) ## these function applied all above feature eng. process automatically
X_test=procesor.transform(X_test)

In [29]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.tree import DecisionTreeRegressor

In [30]:
from sklearn.metrics import r2_score

In [31]:
mods={
    'random_forest': RandomForestRegressor(),
    
    'decision_tree':DecisionTreeRegressor()
    }

In [32]:
def evaluate_model(X_train, X_test, y_train, y_test,mods):
    report={}
    for i in range(len(mods)):
        model=list(mods.values())[i]
        model.fit(X_train,y_train)
        y_pred=model.predict(X_test)
        model_score=r2_score(y_test,y_pred)
        report[list(mods.keys())[i]]=model_score
        return report

In [33]:
evaluate_model(X_train, X_test, y_train, y_test,mods)

{'random_forest': 0.4387582115831614}